*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 18px;
	background-color: #1b1919;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
}

/* НАЧАЛО МОЕГО КОДА */

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.content {
	display: flex;
	align-items: end;
	gap: 30px;
	width: 1140px;
}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 40px;
}

.content__list-container {
	height: 298px;
	overflow-y: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content__details {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.result {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.result__video-container {
	width: 711px;
	height: 386px;
	position: relative;
}

.result__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.content__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content__video-card {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.content__video-card-thumbnail {
	width: 194px;
	height: 103px;
	object-fit: cover;
	object-position: center;
	align-self: end;
}

.content__video-card-description-container {
	flex-grow: 1;
}

.search-form__fieldset-title {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
}

.title {
	font-family: Oswald, sans-serif;
	color: #fff;
	font-size: 75px;
	line-height: 70px;
	text-transform: uppercase;
}

.content__accent {
	color: #545050;
}

.content__card-link {
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 2px;
}
.content__card-link:active {
	background-color: #545050;
}

.content__video-card:hover {
	text-decoration: underline;
	text-decoration-color: #fff;
}

.content__card-link:focus-visible {
	outline: 1px solid #fff;
}

.content__card-link:focus {
	outline: none;
}

.content__list-item:has(.content__card-link_current) {
	background-color: #545050;
}

.content__video-card-title {
	font-family: Oswald, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 100%;
	text-transform: uppercase;
}

.content__video-card-description {
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
	padding-top: 6px;
	line-clamp: 1;
}

.search-form__fieldset {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: none;
}

.search-form__fieldset-title {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
}

.search-form__checkbox-list {
	display: flex;
	gap: 15px;
}

.search-form__label {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.search-form__label:has(:focus-visible) {
	outline: 1px solid #fff;
	outline-offset: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):has(:hover) {
	text-decoration: underline;
}

.search-form__textfield {
	width: 225px;
	height: 27px;
	font-family: inherit;
	font-size: inherit;
	border: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	appearance: none;
}

.search-form__textfield::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding-left: 1px;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__pseudo-checkbox {
	width: 19px;
	height: 19px;
	justify-self: center;
	align-self: center;
	border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
	border: 2px solid #000;
	outline: 1px solid #fff;
	outline-offset: -1px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
}

.button {
	height: 34px;
	border: 1px solid currentColor;
	color: #fff;
	font-family: inherit;
	font-weight: 700;
	font-size: 18px;
	background-color: transparent;
	cursor: pointer;
}

.button:focus {
	outline: none;
}

.button:hover {
	text-decoration: underline;
}

.button:active {
	background: #545050;
}

.button:focus-visible {
	outline: 1px solid #fff;
	outline-offset: 1px;
}

.search-form__submit-button {
	align-self: end;
	width: 194px;
}
.more-button {
	width: 100%;
}
